# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Archivos de empaquetado
*.zip
*.jar

# Archivos de log
crash.log

# Otros
.DS_Store
*.iml
.idea/
.vscode/
lambda-java/company/template.yaml
lambda-java/company/events/
lambda-java/project/template.yaml
lambda-java/project/events/
lambda-java/role/template.yaml
lambda-java/role/events/
**/target/
